{% extends 'student/navbar.html' %}

{% block title %}
Mis datos
{% endblock title %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Aquí están tus datos personales, {{ student_data[0][0] }}:</h1>
  <p class="data">Nombre completo: {{ student_data[0][0] }} {{ student_data[0][1] }} {{ student_data[0][2] }}</p>
  <p class="data">Correo electrónico: {{ student_data[0][5] }}</p>
  <p class="data">Carrera: {{ student_data[0][3] }}</p>
  <p class="data">Semestre: {{ student_data[0][4] }}</p>
  <p class="data">Teléfono: {{ student_data[0][6] }}</p>
  <p class="data">Género: {{ student_data[0][7] }}</p>
  <p class="data">Nombre de tutor: {{ student_data[0][8] }} {{ student_data[0][9] }} {{ student_data[0][10] }}</p>
  <p class="data">Teléfono tutor: {{ student_data[0][11] }}</p>
  <p class="data">Correo de tutor: {{ student_data[0][12] }}</p>
  <hr class="my-4">
  <p>SACDA es tu lugar para visualizar las citas agendadas por los alumnos del Instituto Tecnológico de Morelia interesados en este servicio</p>
</div>
{% endblock content %}
