{% extends 'main/base.html' %}

{% block navbar %}
<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-primary main_navbar">
  <a class="navbar-brand" href="{% block home_logo %}{% endblock home_logo %}">
    <img src="{{ url_for('static', filename = 'img/logo_v2.0.png') }}" width="30" height="30" class="d-inline-block align-top" alt="SACDA logo">
    SACDA
  </a>

  <!-- Button for small devices -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarId" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {% block navbar_items %}
  {% endblock navbar_items %}
</nav>
{% endblock navbar %}
