{% extends 'admin/navbar.html' %}

{% block title %}
Dar de baja profesionistas
{% endblock title %}

{% macro render_professionals() %}
{% for professional in r_professionals %}
<tr>
  <th scope="row">{{professional[0]}}</th>
  <td>{{professional[1]}}</td>
  <td>{{professional[2]}}</td>
  <td>{{professional[3]}}</td>
  <td>{{professional[4]}}</td>
  <td>{{professional[5]}}</td>
  <td>
    <div class="modal" id="modal-professional-{{professional[0]}}" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Eliminar profesionista</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>¿Deseas eliminar este profesionista?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <form action="{{ url_for('admin_professionals_unsubscribe') }}" method="POST">
              <button type="submit" class="btn btn-primary" name="to_delete" value="{{professional[0]}}"/>Eliminar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-professional-{{professional[0]}}">Eliminar</button>
  </td>
</tr>
{% endfor %}
{% endmacro %}

{% block other_content  %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col">RFC</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido Paterno</th>
        <th scope="col">Apellido Materno</th>
        <th scope="col">Puesto</th>
        <th scope="col">Lugar asignado</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody class="text-center">
      {{ render_professionals() }}
    </tbody>
  </table>
</div>
{% endblock other_content %}
