{% extends 'admin/navbar.html' %}

{% from 'macros/_hours.html' import render_hours %}

{% block title %}
Registrar profesionistas
{% endblock title %}

{% block content %}
{% if sent == 1 %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  Los campos no pueden estar vacíos
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{%endif%}
{% if sent == 2 %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  El campo teléfono solo debe contener dígitos
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif%}
{% if sent == 3 %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  Hubo un problema al guadar la información en la base de datos
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif%}
{% if sent == 4 %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  Ya existe un usuario registrado con ese RFC
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif%}
{% if sent == 5 %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  Hubo un problema al obtener la información de la base de datos
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif%}
{% if sent == 6 %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  El profesionista fue registrado con Éxito
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif%}



<form method="POST" action="{{ url_for('admin_professionals_subscribe') }}">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="rfc">RFC</label>
      <input type="text" class="form-control" id="rfc" name="rfc" placeholder="RFC" maxlength="15">
    </div>
    <div class="form-group col-md-4">
      <label for="email">Correo electrónico</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Correo electrónico" maxlength="35">
    </div>
    <div class="form-group col-md-4">
      <label for="phone">Teléfono</label>
      <input type="text" class="form-control" id="phone" name="phone" placeholder="Teléfono" maxlength="14">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" maxlength="35">
    </div>
    <div class="form-group col-md-4">
      <label for="first_last_name">Apellido Paterno</label>
      <input type="text" class="form-control" id="first_last_name" name="first_last_name" placeholder="Apellido Paterno" maxlength="25">
    </div>
    <div class="form-group col-md-4">
      <label for="second_last_name">Apellido Materno</label>
      <input type="text" class="form-control" id="second_last_name" name="second_last_name" placeholder="Apellido Materno" maxlength="25">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="job">Puesto</label>
      <select id="job" name="job" class="form-control">
        {% for job in r_job %}
        <option selected>{{ job[1] }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="entry_time">Hora de entrada</label>
      <select id="entry_time" name="entry_time" class="form-control">
        {{ render_hours() }}
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="exit_time">Hora de salida</label>
      <select id="exit_time" name="exit_time" class="form-control">
        {{ render_hours() }}
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="place">Lugar</label>
      <select id="place" name="place" class="form-control">
        {% for place in r_place %}
        <option selected>{{ place[1] }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="password">Contraseña</label>
      <input type="text" class="form-control" id="password" name="password" placeholder="Contraseña" maxlength="20">
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Registrar</button>
</form>
{% endblock content %}
