{% extends 'admin/navbar.html' %}

{% block title %}
Registrar alumnos
{% endblock title %}



{% block content %}
{% if sent == 0 %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  Los campos no pueden estar vacíos.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif%}

{% if sent == 1 %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  El campo teléfono solo debe contener dígitos.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif%}

{% if sent == 2 %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  El campo matrícula solo debe contener dígitos.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif%}

{% if sent == 3 %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  Hubo un problema al guadar la información en la base de datos.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif%}

{% if sent == 4 %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  Ya existe un usuario registrado con esa matrícula.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif%}

{% if sent == 5 %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  Hubo un problema al obtener la información de la base de datos.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif%}

{% if sent == 6 %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  El alumno se registró exitosamente.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif%}


<form method="POST" action="{{ url_for('admin_students_subscribe') }}">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="enrollment">Matrícula</label>
      <input type="text" class="form-control" id="enrollment" name="enrollment" placeholder="Matrícula" maxlength="10">
    </div>
    <div class="form-group col-md-4">
      <label for="email">Correo electrónico</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Correo electrónico" maxlength="30">
    </div>
    <div class="form-group col-md-4">
      <label for="phone">Teléfono</label>
      <input type="text" class="form-control" id="phone" name="phone" placeholder="Teléfono" maxlength="14">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" maxlength="35">
    </div>
    <div class="form-group col-md-4">
      <label for="first_last_name">Apellido Paterno</label>
      <input type="text" class="form-control" id="first_last_name" name="first_last_name" placeholder="Apellido Paterno" maxlength="25">
    </div>
    <div class="form-group col-md-4">
      <label for="second_last_name">Apellido Materno</label>
      <input type="text" class="form-control" id="second_last_name" name="second_last_name" placeholder="Apellido Materno" maxlength="25">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="gender">Género</label>
      <select class="form-control" id="gender" name="gender">
        <option selected>Femenino</option>
        <option selected>Masculino</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="semester">Semestre</label>
      <select class="form-control" id="semester" name="semester">
        {% for semester in range(13) %}
        <option selected>{{ semester }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="password">Contraseña</label>
      <input type="text" class="form-control" id="password" name="password" placeholder="Contraseña" maxlength="25">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="name_tutor">Nombre Del Tutor</label>
      <input type="text" class="form-control" id="name_tutor" name="name_tutor" placeholder="Nombre Del Tutor" maxlength="30">
    </div>
    <div class="form-group col-md-4">
      <label for="first_last_name_tutor">Primer Apellido Del Tutor</label>
      <input type="text" class="form-control" id="first_last_name_tutor" name="first_last_name_tutor" placeholder="Primer Apellido del Tutor" maxlength="25">
    </div>
    <div class="form-group col-md-4">
      <label for="second_last_name_tutor">Segundo Apellido Del Tutor</label>
      <input type="text" class="form-control" id="second_last_name_tutor" name="second_last_name_tutor" placeholder="Segundo Apellido del Tutor" maxlength="25">
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="phone_tutor">Teléfono Del Tutor</label>
      <input type="text" class="form-control" id="phone_tutor" name="phone_tutor" placeholder="Teléfono del Tutor" maxlength="14">
    </div>
    <div class="form-group col-md-4">
      <label for="email_tutor">Correo Del Tutor</label>
      <input type="email" class="form-control" id="email_tutor" name="email_tutor" placeholder="Correo del Tutor" maxlength="30">
    </div>
    <div class="form-group col-md-4">
      <label for="career">Carreras</label>
      <select id="career" name="career" class="form-control">
        {% for career in r_career %}
        <option selected>{{ career[1] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Registrar</button>
</form>
{% endblock content %}
